In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
play=pd.read_excel("/Users/artemysafronov/Downloads/players_20.xlsx")

In [188]:
play.head()

,sofifa_id,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,L. Messi,Lionel AndrГ©s Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,94,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,93,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,92,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,AtlГ©tico Madrid,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,91,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3

In [5]:
print(play.columns.values)

['sofifa_id' 'short_name' 'long_name' 'age' 'dob' 'height_cm' 'weight_kg'
 'nationality' 'club' 'overall' 'potential' 'value_eur' 'wage_eur'
 'player_positions' 'preferred_foot' 'international_reputation'
 'weak_foot' 'skill_moves' 'work_rate' 'body_type' 'real_face'
 'release_clause_eur' 'player_tags' 'team_position' 'team_jersey_number'
 'loaned_from' 'joined' 'contract_valid_until' 'nation_position'
 'nation_jersey_number' 'pace' 'shooting' 'passing' 'dribbling'
 'defending' 'physic' 'gk_diving' 'gk_handling' 'gk_kicking' 'gk_reflexes'
 'gk_speed' 'gk_positioning' 'player_traits' 'attacking_crossing'
 'attacking_finishing' 'attacking_heading_accuracy'
 'attacking_short_passing' 'attacking_volleys' 'skill_dribbling'
 'skill_curve' 'skill_fk_accuracy' 'skill_long_passing'
 'skill_ball_control' 'movement_acceleration' 'movement_sprint_speed'
 'movement_agility' 'movement_reactions' 'movement_balance'
 'power_shot_power' 'power_jumping' 'power_stamina' 'power_strength'
 'power_long_shots' 'mentality_aggression' 'mentality_interceptions'
 'mentality_positioning' 'mentality_vision' 'mentality_penalties'
 'mentality_composure' 'defending_marking' 'defending_standing_tackle'
 'defending_sliding_tackle' 'goalkeeping_diving' 'goalkeeping_handling'
 'goalkeeping_kicking' 'goalkeeping_positioning' 'goalkeeping_reflexes'
 'ls' 'st' 'rs' 'lw' 'lf' 'cf' 'rf' 'rw' 'lam' 'cam' 'ram' 'lm' 'lcm' 'cm'
 'rcm' 'rm' 'lwb' 'ldm' 'cdm' 'rdm' 'rwb' 'lb' 'lcb' 'cb' 'rcb' 'rb']

In [4]:
teams=play[(play["club"]=="FC Barcelona")|(play["club"]=="Borussia Dortmund")|(play["club"]=="Olympique de Marseille")|(play["club"]=="Manchester City")|(play["club"]=="Inter")]

In [7]:
teams

,sofifa_id,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,L. Messi,Lionel AndrГ©s Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,94,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
5,192985,K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,70,Belgium,Manchester City,91,...,77+3,77+3,77+3,77+3,77+3,73+3,66+3,66+3,66+3,73+3
6,192448,M. ter Stegen,Marc-AndrГ© ter Stegen,27,1992-04-30,187,85,Germany,FC Barcelona,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,153079,S. AgГјero,Sergio Leonel AgГјero del Castillo,31,1988-06-02,173,70,Argentina,Manchester City,89,...,60+3,58+3,58+3,58+3,60+3,56+3,50+3,50+3,50+3,56+3
19,176580,L. SuГЎrez,Luis Alberto SuГЎrez DГ­az,32,1987-01-24,182,86,Uruguay,FC Barcelona,89,...,67+5,67+5,67+5,67+5,67+5,64+5,63+5,63+5,63+5,64+5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16421,250931,P. Osterhage,Patrick Osterhage,19,2000-02-01,184,75,Germany,Borussia Dortmund,57,...,52+2,53+2,53+2,53+2,52+2,51+2,50+2,50+2,50+2,51+2
16743,240473,T. Wilson,Tyreke Wilson,19,1999-12-02,172,66,Republic of Ireland,Manchester City,56,...,54+2,49+2,49+2,49+2,54+2,54+2,50+2,50+2,50+2,54+2
17139,251340,A. Dia,Ahmadou Dia,19,1999-10-13,182,78,France,Olympique de Marseille,55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17167,224947,D. Grimshaw,Daniel Grimshaw,21,1998-01-16,185,77,England,Manchester City,55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17961,243200,S. Mulattieri,Samuele Mulattieri,18,2000-10-07,183,70,Italy,Inter,51,...,41+2,39+2,39+2,39+2,41+2,39+2,37+2,37+2,37+2,39+2

In [5]:
gk=teams[teams["team_position"]=="GK"]

In [6]:
gk

,sofifa_id,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
6,192448,M. ter Stegen,Marc-AndrГ© ter Stegen,27,1992-04-30,187,85,Germany,FC Barcelona,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,210257,Ederson,Ederson Santana de Moraes,25,1993-08-17,188,86,Brazil,Manchester City,88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,162835,S. HandanoviДЌ,Samir HandanoviДЌ,34,1984-07-14,193,92,Slovenia,Inter,88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,189117,R. BГјrki,Roman BГјrki,28,1990-11-14,187,85,Switzerland,Borussia Dortmund,85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
500,163705,S. Mandanda,Steve Mandanda,34,1985-03-28,185,80,France,Olympique de Marseille,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
gk_attr=gk[["club","short_name","age",'height_cm',"overall","wage_eur","value_eur","potential","goalkeeping_diving","goalkeeping_handling","goalkeeping_reflexes"]]

In [9]:
gk_fin = gk_attr.drop_duplicates('club')

In [10]:
gk_fin

,club,short_name,age,height_cm,overall,wage_eur,value_eur,potential,goalkeeping_diving,goalkeeping_handling,goalkeeping_reflexes
6,FC Barcelona,M. ter Stegen,27,187,90,250000,67500000,93,88,85,90
25,Manchester City,Ederson,25,188,88,185000,54500000,91,86,82,88
30,Inter,S. HandanoviДЌ,34,193,88,110000,26000000,88,88,85,89
88,Borussia Dortmund,R. BГјrki,28,187,85,92000,32000000,86,86,80,89
500,Olympique de Marseille,S. Mandanda,34,185,80,32000,6500000,80,80,79,81

In [11]:
gk_fin.to_excel("/Users/artemysafronov/Downloads/GK.xlsx", sheet_name="GK")

In [12]:
cb=teams[teams["team_position"].isin(["CB","LCB","RCB"])]

In [13]:
cb

,sofifa_id,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
29,152729,PiquГ©,Gerard PiquГ© BernabГ©u,32,1987-02-02,194,85,Spain,FC Barcelona,88,...,77+3,83+3,83+3,83+3,77+3,78+3,85+3,85+3,85+3,78+3
35,182493,D. GodГ­n,Diego GodГ­n,33,1986-02-16,187,78,Uruguay,Inter,88,...,74+3,80+3,80+3,80+3,74+3,77+3,86+3,86+3,86+3,77+3
40,212218,A. Laporte,Aymeric Laporte,25,1994-05-27,189,85,France,Manchester City,87,...,78+2,82+2,82+2,82+2,78+2,80+2,85+2,85+2,85+2,80+2
49,178603,M. Hummels,Mats Hummels,30,1988-12-16,191,94,Germany,Borussia Dortmund,87,...,77+3,83+3,83+3,83+3,77+3,78+3,84+3,84+3,84+3,78+3
57,232363,M. Е kriniar,Milan Е kriniar,24,1995-02-11,187,80,Slovakia,Inter,86,...,74+2,79+2,79+2,79+2,74+2,76+2,84+2,84+2,84+2,76+2
84,220440,C. Lenglet,ClГ©ment Lenglet,24,1995-06-17,186,81,France,FC Barcelona,85,...,77+2,81+2,81+2,81+2,77+2,79+2,83+2,83+2,83+2,79+2
126,198176,S. de Vrij,Stefan de Vrij,27,1992-02-05,189,78,Netherlands,Inter,84,...,73+3,77+3,77+3,77+3,73+3,75+3,81+3,81+3,81+3,75+3
170,229237,M. Akanji,Manuel Obafemi Akanji,23,1995-07-19,187,91,Switzerland,Borussia Dortmund,83,...,76+2,79+2,79+2,79+2,76+2,77+2,81+2,81+2,81+2,77+2
172,203574,J. Stones,John Stones,25,1994-05-28,188,70,England,Manchester City,83,...,77+2,80+2,80+2,80+2,77+2,78+2,81+2,81+2,81+2,78+2
961,202935,ГЃlvaro,ГЃlvaro GonzГЎlez SoberГіn,29,1990-01-08,183,75,Spain,Olympique de Marseille,78,...,70+2,71+2,71+2,71+2,70+2,72+2,76+2,76+2,76+2,72+2
1623,236987,B. Kamara,Boubacar Kamara,19,1999-11-23,178,68,France,Olympique de Marseille,75,...,71+2,74+2,74+2,74+2,71+2,72+2,73+2,73+2,73+2,72+2

In [14]:
cb_attr=cb[["club","short_name","age",'height_cm',"overall","wage_eur","value_eur","potential",'defending','physic',  'defending_marking']]

In [15]:
cb_fin = cb_attr.groupby('club').nth([0, 1])

In [16]:
cb_fin

,short_name,age,height_cm,overall,wage_eur,value_eur,potential,defending,physic,defending_marking
club,,,,,,,,,,
Borussia Dortmund,M. Hummels,30,191,87,130000,41000000,87,89.0,76.0,90
Borussia Dortmund,M. Akanji,23,187,83,77000,31000000,88,83.0,80.0,84
FC Barcelona,PiquГ©,32,194,88,285000,38000000,88,88.0,80.0,89
FC Barcelona,C. Lenglet,24,186,85,175000,45000000,89,86.0,80.0,90
Inter,D. GodГ­n,33,187,88,135000,28000000,88,89.0,83.0,90
Inter,M. Е kriniar,24,187,86,89000,52000000,90,87.0,82.0,92
Manchester City,A. Laporte,25,189,87,195000,56500000,90,88.0,82.0,88
Manchester City,J. Stones,25,188,83,140000,30000000,87,84.0,77.0,85
Olympique de Marseille,ГЃlvaro,29,183,78,36000,8500000,78,77.0,78.0,76
Olympique de Marseille,B. Kamara,19,178,75,15000,10000000,86,75.0,74.0,76

In [17]:
cb_fin.to_excel("/Users/artemysafronov/Downloads/CB.xlsx", sheet_name="CB")

In [18]:
lb=teams[teams["player_positions"].isin(["LB","LB,RB","LWB,LM,LB"])]

In [19]:
lb_attr=lb[["club","short_name","age",'height_cm',"overall","wage_eur","value_eur","potential",'defending','pace', 'attacking_crossing']]

In [20]:
lb_fin = lb_attr.drop_duplicates('club')

In [21]:
lb_fin

,club,short_name,age,height_cm,overall,wage_eur,value_eur,potential,defending,pace,attacking_crossing
51,FC Barcelona,Jordi Alba,30,170,87,240000,40000000,87,79.0,90.0,87
429,Manchester City,B. Mendy,24,185,80,96000,17500000,85,77.0,81.0,87
698,Inter,K. Asamoah,30,173,79,60000,10000000,79,79.0,74.0,78
1516,Borussia Dortmund,M. Schmelzer,31,181,76,53000,5500000,76,76.0,74.0,72
2263,Olympique de Marseille,J. Amavi,25,176,74,25000,6500000,78,69.0,77.0,75

In [22]:
lb_fin.to_excel("/Users/artemysafronov/Downloads/LB.xlsx", sheet_name="GK")

In [23]:
rb=teams[teams["player_positions"].isin(["RB","RB, LB","RB, RM"])]

In [24]:
rb_attr=rb[["club","short_name","age",'height_cm',"overall","wage_eur","value_eur","potential",'defending','pace', 'attacking_crossing']]

In [25]:
rb_fin = rb_attr.drop_duplicates('club')

In [26]:
rb_fin

,club,short_name,age,height_cm,overall,wage_eur,value_eur,potential,defending,pace,attacking_crossing
112,Manchester City,JoГЈo Cancelo,25,182,84,150000,36500000,89,78.0,90.0,86
249,FC Barcelona,NГ©lson Semedo,25,177,82,150000,26000000,87,77.0,92.0,76
382,Borussia Dortmund,L. Piszczek,34,184,81,76000,6000000,81,82.0,77.0,82
970,Olympique de Marseille,H. Sakai,29,183,78,36000,8500000,78,76.0,78.0,74
1757,Inter,V. Lazaro,23,180,75,39000,7500000,79,69.0,84.0,80

In [27]:
rb_fin.to_excel("/Users/artemysafronov/Downloads/rb.xlsx", sheet_name="GK")

In [28]:
cdm=teams[teams["player_positions"].isin(["CDM","CDM, CM","CDM, CB"])]

In [29]:
cdm_attr=cdm[["club","short_name","age",'height_cm',"overall","wage_eur","value_eur","potential",'defending','passing', 'physic']]

In [30]:
cdm_attr

,club,short_name,age,height_cm,overall,wage_eur,value_eur,potential,defending,passing,physic
21,FC Barcelona,Sergio Busquets,30,189,89,300000,55000000,89,85.0,80.0,80.0
44,Manchester City,Fernandinho,34,179,87,200000,19500000,87,84.0,79.0,79.0
79,Manchester City,Rodri,23,191,85,150000,47000000,90,82.0,77.0,80.0
102,Borussia Dortmund,A. Witsel,30,186,85,110000,31500000,85,83.0,80.0,81.0
271,Borussia Dortmund,T. Delaney,27,182,82,82000,23000000,83,83.0,74.0,82.0
361,Inter,M. BrozoviД‡,26,181,81,68000,19500000,83,76.0,79.0,73.0
394,Olympique de Marseille,Luiz Gustavo,31,187,81,42000,13500000,81,80.0,69.0,82.0
446,Borussia Dortmund,J. Weigl,23,186,80,61000,17500000,84,78.0,75.0,66.0
484,Inter,M. Vecino,27,187,80,63000,15000000,81,76.0,77.0,74.0
821,Inter,R. Gagliardini,25,190,78,51000,12000000,81,77.0,71.0,73.0
4781,FC Barcelona,L. Reis,19,178,70,29000,3100000,83,69.0,62.0,69.0
5396,Olympique de Marseille,G. Sertic,29,183,70,17000,1500000,70,69.0,68.0,71.0
7711,FC Barcelona,Oriol Busquets,20,185,67,24000,1600000,82,64.0,63.0,67.0
8784,Manchester City,C. Gomes,18,180,66,7000,1200000,81,65.0,61.0,62.0
12241,Olympique de Marseille,A. Phliponeau,19,176,63,3000,750000,78,60.0,63.0,54.0
14666,Borussia Dortmund,T. Raschl,19,177,60,4000,425000,78,53.0,59.0,61.0

In [31]:
cdm_attr_def=cdm_attr.sort_values("defending",ascending=False)

In [32]:
cdm_fin=cdm_attr_def.drop_duplicates('club')

In [33]:
cdm_fin

,club,short_name,age,height_cm,overall,wage_eur,value_eur,potential,defending,passing,physic
21,FC Barcelona,Sergio Busquets,30,189,89,300000,55000000,89,85.0,80.0,80.0
44,Manchester City,Fernandinho,34,179,87,200000,19500000,87,84.0,79.0,79.0
102,Borussia Dortmund,A. Witsel,30,186,85,110000,31500000,85,83.0,80.0,81.0
394,Olympique de Marseille,Luiz Gustavo,31,187,81,42000,13500000,81,80.0,69.0,82.0
821,Inter,R. Gagliardini,25,190,78,51000,12000000,81,77.0,71.0,73.0

In [34]:
cdm_fin.to_excel("/Users/artemysafronov/Downloads/cdm.xlsx", sheet_name="GK")

In [35]:
cm=teams[teams["player_positions"].isin(["CM","CM, CDM","CM, CAM"])]

In [37]:
cm_attr=cm[["club","short_name","age",'height_cm',"overall","wage_eur","value_eur","potential","dribbling",'passing', 'mentality_vision' ]]

In [38]:
cm_attr_pass=cm_attr.sort_values("passing",ascending=False)

In [39]:
cm_fin=cm_attr_pass.drop_duplicates('club')

In [40]:
cm_fin

,club,short_name,age,height_cm,overall,wage_eur,value_eur,potential,dribbling,passing,mentality_vision
64,FC Barcelona,I. RakitiД‡,31,184,86,245000,38000000,86,81.0,86.0,85
146,Manchester City,I. GГјndoДџan,28,180,84,180000,31000000,84,84.0,84.0,86
533,Olympique de Marseille,K. Strootman,29,186,80,45000,14000000,80,73.0,80.0,79
1059,Inter,S. Sensi,23,168,77,48000,11500000,82,76.0,79.0,80
773,Borussia Dortmund,M. Dahoud,23,178,78,58000,14000000,84,84.0,75.0,80

In [41]:
cm_fin.to_excel("/Users/artemysafronov/Downloads/cm.xlsx", sheet_name="GK")

In [42]:
cam=teams[teams["player_positions"].isin(["CM","CM, CAM","CM, CDM","CAM, CM","CAM, LM, ST"])]

In [43]:
cam_attr=cam[["club","short_name","age",'height_cm',"overall","wage_eur","value_eur","potential","dribbling",'passing', 'shooting']]

In [44]:
cam_attr_drib=cam_attr.sort_values("potential",ascending=False)

In [45]:
cam_fin=cam_attr_drib.drop_duplicates('club')

In [46]:
cam_fin

,club,short_name,age,height_cm,overall,wage_eur,value_eur,potential,dribbling,passing,shooting
5,Manchester City,K. De Bruyne,28,181,91,370000,90000000,91,86.0,92.0,86.0
75,FC Barcelona,F. de Jong,22,180,85,195000,52000000,91,87.0,84.0,64.0
37,Borussia Dortmund,M. Reus,30,180,88,170000,56000000,88,87.0,84.0,88.0
412,Inter,N. Barella,22,175,80,60000,21500000,88,80.0,78.0,66.0
619,Olympique de Marseille,M. Sanson,24,180,79,36000,16000000,83,77.0,78.0,73.0

In [47]:
cam_fin.to_excel("/Users/artemysafronov/Downloads/cam.xlsx", sheet_name="GK")

In [48]:
rw=teams[teams["player_positions"].isin(["RM","RW","RM, LM","RM, RW","RW, RM","RW, LW","RW, CF, ST","RW, CAM, CM"])]

In [49]:
rw_attr=rw[["club","short_name","age",'height_cm',"overall","wage_eur","value_eur","potential","dribbling",'pace', 'shooting']]

In [50]:
rw_attr_drib=rw_attr.sort_values("dribbling",ascending=False)

In [51]:
rw_fin=rw_attr_drib.drop_duplicates('club')

In [52]:
rw_fin

,club,short_name,age,height_cm,overall,wage_eur,value_eur,potential,dribbling,pace,shooting
0,FC Barcelona,L. Messi,32,170,94,565000,95500000,94,96.0,87.0,92.0
41,Manchester City,Bernardo Silva,24,173,87,210000,64000000,90,92.0,81.0,76.0
108,Borussia Dortmund,J. Sancho,19,180,84,61000,44500000,92,90.0,88.0,72.0
198,Olympique de Marseille,F. Thauvin,26,179,83,60000,30500000,84,83.0,83.0,80.0
678,Inter,A. Candreva,32,180,79,65000,10000000,79,80.0,74.0,78.0

In [53]:
rw_fin.to_excel("/Users/artemysafronov/Downloads/rw.xlsx", sheet_name="GK")

In [54]:
lw=teams[teams["player_positions"].isin(["LM","LW","LM, RM","RM, LM, CF","LM, LW","CAM, LW","LW, LM","LW, RW","RW, LW","ST","CF, ST, LW"])]

In [55]:
lw_attr=lw[["club","short_name","age",'height_cm',"overall","wage_eur","value_eur","potential","dribbling",'pace', 'shooting']]

In [56]:
lw_attr_pace=lw_attr.sort_values("dribbling",ascending=False)

In [57]:
lw_fin=lw_attr_pace.drop_duplicates('club')

In [58]:
lw_fin

,club,short_name,age,height_cm,overall,wage_eur,value_eur,potential,dribbling,pace,shooting
22,FC Barcelona,A. Griezmann,28,176,89,370000,69000000,89,89.0,81.0,86.0
26,Manchester City,R. Sterling,24,170,88,255000,73000000,90,89.0,93.0,79.0
281,Borussia Dortmund,T. Hazard,26,175,82,90000,26000000,83,86.0,82.0,77.0
329,Inter,L. MartГ­nez,21,174,81,61000,27000000,89,82.0,81.0,77.0
384,Olympique de Marseille,D. Payet,32,175,81,46000,14000000,81,81.0,71.0,77.0

In [59]:
lw_fin.to_excel("/Users/artemysafronov/Downloads/lw.xlsx", sheet_name="GK")

In [60]:
st=teams[teams["player_positions"].isin(["ST","CF","ST, CF","CF, ST"])]

In [61]:
st_attr=st[["club","short_name","age",'height_cm',"overall","wage_eur","value_eur","potential",'weak_foot','pace', 'shooting']]

In [62]:
st_fin=st_attr.drop_duplicates('club')

In [63]:
st_fin

,club,short_name,age,height_cm,overall,wage_eur,value_eur,potential,weak_foot,pace,shooting
17,Manchester City,S. AgГјero,31,173,89,300000,60000000,89,4,80.0,90.0
19,FC Barcelona,L. SuГЎrez,32,182,89,355000,53000000,89,4,73.0,89.0
89,Inter,R. Lukaku,26,190,85,115000,46000000,86,4,75.0,82.0
186,Borussia Dortmund,Paco AlcГЎcer,25,175,83,105000,32000000,85,4,79.0,84.0
737,Olympique de Marseille,D. Benedetto,29,177,79,46000,12500000,79,5,80.0,80.0

In [64]:
st_fin.to_excel("/Users/artemysafronov/Downloads/st.xlsx", sheet_name="GK")